
.Flag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5cm;
    margin-bottom:0.5cm;
    width: 400px
}

.bsflag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5cm;
    margin-bottom:0.5cm;
    width: 400px
}
.Place{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    width: 700px;

}
#top3_bad{
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.memes{
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 400px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
    
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .imtext {
    background-color: #674636;
    color: white;
    font-size: 20px;
    padding: 10px 70px;
    text-align: center;
    
  }
  .hdgroup:after {
    content: "";
    display: table;
    clear: both;

  }
  
  .hdtext {
    float:right;
    position: relative;
    top: 20px;
    right: 44%;
    width: 40%;
    margin: 0;
    padding: 10px;
    
  }
  #hdimage{
    width: 250px;
    padding: 0;
    margin: 0;
  }
  img{
    width: 100px;
    margin-top: auto;
}
.br_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1;
}
.br_li{
    float: left;
}  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
.rn{
    background-color: #AAB396;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  * {
    box-sizing: border-box;
  }
  ol{
    font-size: 20px;
  }
  p{
    font-size: 20px;
  }
  
  