.container {
    position: relative;
    width: 710px; /* Adjust width */
    height: 425px; /* Adjust height */
    background-color: black; /* Black background simulates the lines */
  }
  
  .square {
    position: absolute;
    border: 10px solid black; /* Creates thick black lines between squares */
  }
  
  /* Position and size for each square */
  .red {
    background-color: rgb(187, 26, 26);
    top: 44px;
    left: 355px;
    width: 190px;
    height: 236px;
    border: 0;
  }
  
  .blue {
    background-color: rgb(38, 36, 145);
    top: 295px;
    left: 65px;
    width: 190px;
    height: 100px;
    border: 0;
  }
  
  .yellow {
    background-color: rgb(207, 180, 24);
    top: 0;
    right:0;
    width: 150px;
    height: 29px;
    border: 0;
  }
  
  .white1 {
    background-color: white;
    top: 0;
    left: 0px;
    width: 50px;
    height: 280px;
    border: 0;
  }
  .white2 {
    background-color: white;
    top: 295px;
    left: 0px;
    width: 50px;
    height: 100px;
    border:0;
  }
  .white3 {
    background-color: white;
    top: 409px;
    left: 0px;
    width: 50px;
    height: 16px;
    border:0;
  }
  .white4 {
    background-color: rgb(248, 248, 248);
    top: 0px;
    left: 65px;
    width: 190px;
    height: 280px;
    border:0;
  }
  .white5 {
    background-color: white;
    top: 409px;
    left: 65px;
    width: 190px;
    height: 16px;
    border:0;
  }
  .white6 {
    background-color: white;
    top: 409px;
    left: 270px;
    width: 70px;
    height: 16px;
    border:0;
  }
  .white7 {
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 270px;
    width: 70px;
    height: 29px;
    border:0;
  }
  .white8 {
    background-color: rgb(255, 255, 255);
    top: 44px;
    left: 270px;
    width: 70px;
    height: 236px;
    border:0;
  }
  .white9 {
    background-color: rgb(255, 255, 255);
    top: 295px;
    left: 270px;
    width: 70px;
    height: 100px;
    border:0;
  }
  .white10 {
    background-color: rgb(255, 255, 255);
    top: 0px;
    left: 355px;
    width: 190px;
    height: 29px;
    border:0;
  }
  .white11 {
    background-color: rgb(255, 255, 255);
    top: 295px;
    left: 355px;
    width: 190px;
    height: 131px;
    border:0;
  }
  .white12 {
    background-color: white;
    top: 44px;
    left: 560px;
    width: 150px;
    height: 236px;
    border:0;
  }
  .white13 {
    background-color: white;
    top: 295px;
    left: 560px;
    width: 150px;
    height: 131px;
    border:0;
  }
  